<html>
<head>
	<meta charset="UTF-8">
	<script src="https://unpkg.com/bizcharts@3.2.2/umd/BizCharts.min.js"></script>
	<script src="//g.alicdn.com/bizcharts/io-asserts/3.1.2/react16.0.0.production.min.js"></script>
	<script src="//g.alicdn.com/bizcharts/io-asserts/3.1.2/react-dom16.0.0.production.min.js"></script>
	<script src="//unpkg.com/babel-core@5.8.38/browser.min.js"></script>
	<script src="//cdn.jsdelivr.net/npm/bizcharts@3.2.2/umd/BizCharts.min.js"> </script>
	<script type="text/javascript" src="https://gw.alipayobjects.com/as/g/datavis/assets/1.0.1/jquery-3.2.1.min.js"></script>
</head>
<body>
<div   id="mountNode" ></div>
<script type="text/babel">
    const { Chart, Geom, Axis, Tooltip, Coord, Label, Legend, View, Guide, Shape } = window.BizCharts;

    // 数据源
    const data = [
        { genre: 'Sports', sold: 275, income: 2300 },
        { genre: 'Strategy', sold: 115, income: 667 },
        { genre: 'Action', sold: 120, income: 982 },
        { genre: 'Shooter', sold: 350, income: 5271 },
        { genre: 'Other', sold: 150, income: 3710 }
    ];

    const scale = {
        genre: {
            alias: '月份' // 为属性定义别名
        },
        sold: {
            alias: '温度' // 为属性定义别名
        }
    };


    // 渲染图表
    ReactDOM.render((
        <Chart renderer={'canvas'}  padding={'auto'}   data={data} scale={scale} forceFit={false} >
            <Axis name="genre" />
            <Axis name="sold" />
            <Coord type="polar" radius={0.5} startAngle={-Math.PI / 3} endAngle={7 * Math.PI /6}/>
            <Legend position="top"  dy={-20} />
            <Tooltip />
            <Geom type="interval" position="genre*sold" color="genre" />
        </Chart>
    ), document.getElementById('mountNode'));
</script>
</body>
</html>
