<html>
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/bizcharts@3.2.2/umd/BizCharts.min.js"></script>
    <script src="//g.alicdn.com/bizcharts/io-asserts/3.1.2/react16.0.0.production.min.js"></script>
    <script src="//g.alicdn.com/bizcharts/io-asserts/3.1.2/react-dom16.0.0.production.min.js"></script>
    <script src="//unpkg.com/babel-core@5.8.38/browser.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/bizcharts@3.2.2/umd/BizCharts.min.js"></script>
    <script type="text/javascript"
            src="https://gw.alipayobjects.com/as/g/datavis/assets/1.0.1/jquery-3.2.1.min.js"></script>
</head>
<body>
<div id="mountNode"></div>
<div id="mountNode2"></div>
<script type="text/babel">
    const {Chart, Geom, Axis, Tooltip, Coord, Label, Legend, View, Guide, Shape} = window.BizCharts;

    var datSet = [
        {month: '1', count: 0, year: 2018},
        {month: '2', count: 0, year: 2018},
        {month: '3', count: 0, year: 2018},
        {month: '4', count: 0, year: 2018},
        {month: '5', count: 0, year: 2018},
        {month: '6', count: 0, year: 2018},
        {month: '7', count: 0, year: 2018},
        {month: '8', count: 0, year: 2018},
        {month: '9', count: 0, year: 2018},
        {month: '10', count: 0, year: 2018},
        {month: '11', count: 0, year: 2018},
        {month: '12', count: 0, year: 2018}
    ];


    $.ajax({
        url: "/statistic/home",    //请求的url地址
        dataType: "json",   //返回格式为json
        async: false,//请求是否异步，默认为异步，这也是ajax重要特性
        data: {"year": 2018},    //参数值,键值对
        type: "GET",   //请求方式
        beforeSend: function () {
            //请求前的处理

        },
        success: function (req) {
            //请求成功时处理
            console.log(" response : " + req[0].year);
            // 数据源
            req.forEach(d => {
                console.log(" d  : " + d.month);
                datSet.forEach(ds => {
                    if (d.month == ds.month) {
                        console.log(" ds  : " + d.month);
                        console.log(" d  : " + d.count);
                        ds.count = d.count;
                    }
                })
            });

        },
        complete: function () {
            //请求完成的处理
        },
        error: function () {
            //请求出错处理
        }
    });

    const scale = {
        count: {
            type: 'linear',
            nice:true,
            // minLimit
            // min: 2, // 定义数值范围的最小值
            // max: 50,// 定义数值范围的最大值
            alias: '数量' // 为属性定义别名
        },
        month: {
            alias: '月份' // 为属性定义别名
        }
    }


    const label = {
        formatter(text, item, index) {
            return text = text + "月"
        }
    }


    // 渲染图表
    ReactDOM.render((
        <Chart renderer={'canvas'} padding={'auto'} data={datSet} scale={scale} forceFit={false}>
            <Axis name="month" label={label} title/>
            <Axis name="count" title/>
            <Tooltip crosshairs={{type: 'y'}}/>
            <Legend position="top"/>
            <Geom type="interval" position="month*count" color="month"/>
        </Chart>
    ), document.getElementById('mountNode'));
    // 渲染图表
    ReactDOM.render((
        <Chart renderer={'canvas'} padding={'auto'} data={datSet} scale={scale} forceFit={false}>
            <Axis name="month" label={label} title/>
            <Axis name="count" title/>
            <Tooltip crosshairs={{type: 'y'}}/>
            <Legend position="top"/>
            <Geom type="interval" position="month*count" color="month"/>
        </Chart>
    ), document.getElementById('mountNode2'));
</script>
</body>
</html>
